<div id="main">
  <div id="siteOwnerLoginContent">
    <h1>בעל צימר? הכנס</h1>
    <p>
      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    
        <%= label_tag :email, 'דוא"ל' %><br />
        <%= f.text_field(:email)-%><br />

        <%= label_tag :password, 'סיסמא' %><br />
        <%= f.password_field(:password) %><br /><br />

        <% if devise_mapping.rememberable? -%>
          <%= f.label "זכור אותי" %>
          <%= f.check_box :remember_me %>
        <% end -%>
        <br /><br />
        <%= f.submit('הכנס') -%>
      <% end %>

      <br /><%= render "links" %>
    </p>
  </div>
</div>