<h2>שנה את סיסמתך</h2><br />

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <a rel="tooltip" title="דוא'ל">
    <%= f.email_field(:email, {:placeholder => "דוא'ל", :class => "elementDefault"})-%>
  </a><br />

  <a rel="tooltip" title="סיסמא">
    <%= f.password_field(:password, {:placeholder => "סיסמא", :class => "elementDefault", :autocomplete => "off"})%>
  </a><i>(השאר ריק אם אין ברצונך לשנות שדה זה)</i><br />

  <a rel="tooltip" title="אימות סיסמא">
    <%= f.password_field(:password_confirmation, {:placeholder => "אימות סיסמא", :class => "elementDefault"}) %>
  </a><br />

  <a rel="tooltip" title="סיסמא נוכחית">
    <%= f.password_field(:current_password, {:placeholder => "סיסמא נוכחית", :class => "elementDefault"}) %>
  </a><i>(אנו צריכים את הסיסמה שלך לאשר את השינויים)</i><br />

  <%= f.submit "עדכון", {:class => "btn-primary submitBtn"} %>
<% end %>

<h3>בטל את חשבוני</h3>

<p>לא מרוצה? <%= link_to "בטל את חשבוני", registration_path(resource_name), :confirm => "האם אתה בטוח?", :method => :delete %>.</p>

<%= link_to "חזרה", :back %>
