<div id="main">
	<div id="registerContentLeft">
		<br /><br /><br />
	</div>
	<div id="vSeparator"></div>
	<div id="registerContentRight">
		<h1>שנה את סיסמתך</h1><br />

		<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  			<%= devise_error_messages! %>
  			<%= f.hidden_field :reset_password_token %>

  			<div>
  				<%= f.label :password, "סיסמה חדשה" %>
  				<%= f.password_field :password %>
  			</div>
  			<br />
  			<div>
  				<%= f.label :password_confirmation, "אמת סיסמה" %>
  				<%= f.password_field :password_confirmation %>
  			</div>
  			<br />
  			<div>
  				<%= f.submit "שנה סיסמה" %>
  			</div>	
		<% end %>
		<%= render "links" %>
	</div>
</div>