<div id="main">
	<div id="registerContentLeft"><br /><br /><br />
	</div>
	<div id="vSeparator"></div>
	<div id="registerContentRight"><br /><br /><br />
		<h1>שכחת את הסיסמה?</h1>

		<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
	  		<%= devise_error_messages! %>

	  		<label>דואר אלקטרוני</label><br />
	        <%= f.email_field :email %><br />

	  		<%= f.submit "שלח לי הוראות איפוס סיסמה" %>
			<p><%= render "links" %></p>
		<% end %>
	</div>
</div>