            <div style="position:relative; top:-695px;left: -419px; width:17px; height:302px; background: url(../assets/global/verticaSeparator.png) no-repeat; z-index: 3"></div>
            <div style="position:relative; top:-1000px;left: -15px; width:400px; height:155px; z-index: 3; font-size: 13px; color: #545559">
              <p><b>שלום, אני גברת צימר.</b><br />אני מאמינה שיצא לכם לעבור את התהליך המתיש של חיפוש צימר בעבר.<br />שיטוט בין אתרי צימרים עמוסים, פניות לבעלי צימרים רבים, טלפונים מיילים, השוואת מחירים, השוואת מאפיינים, תיאום תאריכים... בקיצור מעייף.</p>
              <p>באתר שלי תוכלו למצוא לכם צימר חלומי. לנופש מרגיע. ללא הצורך המתיש בחיפוש בין עשרות אתרים וצפיה במאות צימרים שלא מתאימים לדרישותיכם.<br/ >כל שעליכם לעשות זה להגדיר את פרטי הנופש המבוקש... ומכאן אני נכנסת לתפקיד.</p>
            </div>
            <div style="position:relative; top:-1008px;left: 10px; width:480px; height:100px; background: url(../assets/global/stepsAll.png) no-repeat; z-index: 3"></div>
            <div style="position:relative; top:-975px;left: -15px; width:200px; height:20px; z-index: 3;">אז שתהיה לכם חופשה מהנה.</div>
            <div style="position:relative; top:-975px;left: -15px; width:79px; height:36px; background: url(../assets/global/signature.png) no-repeat; z-index: 3"></div>
            
            <%= render(:partial => 'shared/error_messages', :locals => {:object => @request}) -%>
            <%= form_for(@request, :url => {:action => "create"}, :html => { :style => "position:relative; top:-1310px;left: -500px; width:400px; height:345px; z-index: 3;", :onsubmit => "return validateRequestForm(this);" }) do |f| -%>


                <ul class="accordion">
                  <div class="accordionSperator">------------------------------------------------------------------------</div>
                  <li id="one" class="files">

                    <a href="#one">1. בחירת סוג חדר ואזור</a>

                    <ul class="sub-menu">
                      <script type="text/javascript">
                        function goToStep(nextStepSelector) {
                          var nextStep = $('a[href="' + nextStepSelector + '"]');

                          nextStep.click();
                        }
                      </script>
                      <li>
                          <%= f.select(:room_type_id, @room_types.map { |u| [u.name,u.id] }, {:selected => "1"}, {:class => "elementDefault"}) -%>
                          <%= f.select(:region_id, @regions.map { |u| [u.name,u.id] }, {:selected => "1"}, {:class => "elementDefault"}) -%>
                          <%= getButton('המשך', 'goToStep(\'#two\')').html_safe -%>
                      </li>

                    </ul>

                  </li>

                  <div class="accordionSperator">------------------------------------------------------------------------</div>
                  
                  <li id="two" class="mail">

                    <a href="#two">2. אבזור חדר</a>

                    <ul class="sub-menu">
                      
                      <li>
                        <% @room_porperties.each_with_index do |prop, i| -%>
                          <% if ((i % 3) == 0) && i != 0 -%>
                            <br />
                          <% end -%>
                          <%= label(prop, :name, prop.name, {:class => "labelDefault"}) -%>
                          <%= check_box("room_porperty_request", "list", {:multiple => true}, prop.id, nil) -%>
                        <% end -%>
                        <%= getButton('המשך', 'goToStep(\'#three\')').html_safe -%>
                      </li>

                    </ul>

                  </li>
                  
                  <div class="accordionSperator">------------------------------------------------------------------------</div>

                  <li id="three" class="cloud">

                    <a href="#three">3. מחירים ותאריכים</a>

                    <ul class="sub-menu">
                      
                      <li>
                        <%= f.text_field(:how_many_rooms, {:placeholder => "מספר יחידות", :class => "elementDefault"})-%>
                        <%= f.text_field(:start_date, {:read_only => true, :value => "מתאריך", :class => "elementDefault", :autocomplete => "off"})-%>
                        <%= f.text_field(:end_date, {:read_only => true, :value => "עד תאריך", :class => "elementDefault", :autocomplete => "off"})-%>
                        <%= f.text_field(:price_from, {:placeholder => "ממחיר", :class => "elementDefault"})-%>
                        <%= f.text_field(:price_to, {:placeholder => "עד מחיר", :class => "elementDefault"})-%>
                        <%= getButton('המשך', 'goToStep(\'#four\')').html_safe -%>
                      </li>

                    </ul>

                  </li>
                  
                  <div class="accordionSperator">------------------------------------------------------------------------</div>

                  <li id="four" class="sign">

                    <a href="#four">4. מילוי פרטים לקבלת הצעות</a>

                    <ul class="sub-menu">
                      
                      <li>
                        <%= email_field(:user, :email, {:placeholder => "דוא\"ל", :class => "elementDefault elementWide"} ) %>
                        <%= text_field(:user, :first_name, {:placeholder => "שם פרטי", :class => "elementDefault elementWide"} ) %>
                        <%= text_field(:user, :last_name, {:placeholder => "שם משפחה", :class => "elementDefault elementWide"} ) %>
                        <%= text_field(:user, :phone, {:placeholder => "טלפון", :class => "elementDefault elementWide"} ) %>
                        <%= label(:user, :sms_enabled, "קבל הצעות ב-  SMS:", {:class => "labelDefault"}) -%>
                        <%= check_box(:user, :sms_enabled, {}, "true", "false") -%>
                      </li>

                    </ul>

                  </li>
              
                </ul>

                <div>
                  <center>
                    <%terms_of_use = "<p style=\"width:400px;\">תקנון לשימוש באתר האינטרנט gzimmer.co.il מטעמי נוחות נוקט התקנון בלשון זכר, ואולם כל הנאמר בו מתייחס לנשים ולגברים כאחד.</p> השימוש באתר על תכניו והשירותים הניתנים בו, מוצעים לך בכפוף לקבלתך את כל התנאים הכלולים בתקנון זה. הגלישה באתר ו/או הרשמתך כמנוי לקבלת שירותיו, ייחשבו להסכמה מצדך לתנאים אלה. הנהלת האתר רשאית להשעות, לחסום או להפסיק לאלתר את גישת הגולש לשירות אם יפר את תנאי התקנון. הנהלת האתר רשאית לעדכן את תנאי התקנון מעת לעת. אין לעשות באתר או באמצעותו כל שימוש למטרות בלתי חוקיות. ההרשמה כמנוי מיועדת ומותרת לגילאי ח\"י ומעלה בלבד. בהרשמתך הנך מצהיר כי גילך אכן מעל 18 שנה. אין לרשום אדם אחר שלא בהסכמתו ו/או ללא נוכחותו מול המסך בשעת הרישום ולאחר שהוסברו לו כל תנאי תקנון זה. הרישום באתר הוא לשימוש האישי והבלעדי של הגולש אשר אינו רשאי להעביר את הרשאת השימוש לאדם אחר כלשהו. חובה מיוחדת לדייק לחלוטין בכל הפרטים האישיים הנדרשים לצורך הרישום ולצורך הקשר השוטף עם המנוי. אין לפרסם או להעביר באמצעות האתר כל מידע שהוא שקרי, מעליב, משמיץ, מאיים, פוגע בפרטיות הזולת, פורנוגרפי, בעל אופי מיני, גזעני, או בלתי חוקי. הנך אחראי באופן בלעדי לנכונות המידע אותו תפרסם או תעביר באמצעות האתר. הנהלת האתר אינה מקבלת על עצמה כל אחריות לתכנים המפורסמים או מועברים בין המנויים. אין לעשות באתר כל שימוש מסחרי בדרך של משלוח פרסומות או בכל דרך אחרת. אין לשלוח באמצעות האתר הודעה המיועדת ליותר מ- 5 נמענים. הנך מצהיר כי ידוע לך שלהנהלת האתר אין כל יכולת או אפשרות לבדוק, לנפות או לסנן את המנויים הנרשמים לאתר. כל קשר וירטואלי או אחר שלך עם מי מהמנויים האחרים באתר, וזאת בין בהתכתבות או בצ'ט ובין במסגרת \"פגישות \"אמת\", הן באחריותך הבלעדית. מומלץ ביותר לשקול היטב ולוודא את מירב הפרטים אודות הצד השני לפני כל מפגש כזה, וכן לנקוט באמצעי זהירות מרביים לפני הפגישה הראשונה עם אדם לא מוכר. בשום מקרה לא תהיה להנהלת האתר כל אחריות לתוצאות כל קשר כאמור, ומבלי לגרוע מכלליות האמור לעיל לנזקים פיזיים, נפשיים, כספיים, רגשיים ואחרים. בכוונת הנהלת האתר כי האתר ושירותיו יהיו זמינים בכל עת. יחד עם זאת אין ביכולת הנהלת האתר להתחייב לזמינות רצופה ללא תקלות וללא \"נפילות\". כמו כן רשאית הנהלת האתר להפסיק את השימוש באתר מעת לעת לצורכי תחזוקתו וארגונו. לא יינתן כל פיצוי כספי/זיכוי בשל תקלות או הפסקות בשירות. כל זכויות הקניין הרוחני וזכויות היוצרים בקשר לאתר הם של הנהלת האתר. הנהלת האתר אינה אחראית לתוכן מודעות, \"באנרים\" או לכל חומר פרסומי באתר. האחריות לכך על המפרסמים בלבד. הימצאותם של קישורים (\"לינקים\") לאתרים אחרים אינם מהווים ערובה לתכנים באתרים אלה מבחינת מהימנותם, שלמותם, או מכל בחינה אחרת. על התקנון יחול הדין הישראלי. סמכות השיפוט לגביו לבתי המשפט המוסמכים בתל אביב." %>
                    <!--%= label(:user, :terms_of_use_confirmed, "אני מסכים ל<a href='#' rel='popover' title='תנאי שימוש' data-content='#{terms_of_use}'>תנאי השימוש</a>".html_safe, {:class => "labelDefault"}) -%-->
                    <%= label(:user, :terms_of_use_confirmed, "אני מסכים לתנאי השימוש", {:style => "", :class => "labelDefault"}) -%>
                    <%= check_box(:user, :terms_of_use_confirmed, {}, "true", "false") -%><br />

                    <%= submit_tag('שלח', {:style => "",:class => "btn-primary submitBtn"}) -%>
                    <% if (ENV['RAILS_ENV'] == "development") %>
                      <br /><input type="button" value="Fill From" class="btn btn-primary" onclick="fillAutoForm()" />
                    <% end %>
                  </center>
                </div>

              <% if user_signed_in? %>
                <%= f.hidden_field(:user_id, :value => current_user.id) %>
              <% end -%>
            <% end -%>

