<div class="user_nav">
  <% if user_signed_in? %>
    רשום כ - <%= current_user.email %>. לא אתה?
    <%= link_to "צא", destroy_user_session_path, :method => :delete %>
  <% else %>
    <%= link_to "הרשם", new_user_registration_path %> או <%= link_to "הכנס", new_user_session_path %>
  <% end %>
</div>
<div class="mainContainer">
	<div class="welcomeContainer">
		<h1>ברוכים הבאים</h1>
		<p>מחפשים אותכם! מצאו את ההצעה המתאימה בעבורכם!</p>
		<div class="welcomeMainContainer">&nbsp;</div>
		<%= link_to "בעל צימר? הרשם / הכנס", {:controller => 'site_owner'}, :class => "btn btn-primary siteOwnerLoginButton" %>
	</div>
	<div class="requestContainer">
		<div class="requestSubContainerRight">
			<br />
			<br />
			<h3>קבל הצעה:</h3>
			<br />
			<%= render(:partial => 'shared/error_messages', :locals => {:object => @request}) -%>
			<%= form_for(@request, :url => {:action => "create"}) do |f| -%>

				<%= f.label(:room_type_id, "סוג החדר:") -%>
				<%= f.select(:room_type_id, @room_types.map { |u| [u.name,u.id] }, {:selected => "1"}, {:class => "elementDefault"}) -%>

				<%= f.label(:region_id, "אזור:") -%>
				<%= f.select(:region_id, @regions.map { |u| [u.name,u.id] }, {:selected => "1"}, {:class => "elementDefault"}) -%>

				<br />
				<br />

				<%= f.text_field(:how_many_rooms, {:value => "מספר חדרים", :class => "elementDefault"})-%>

				<br />
				<br />

				<%= f.text_field(:start_date, {:read_only => true, :value => "מתאריך", :class => "elementDefault"})-%>
				<%= f.text_field(:end_date, {:read_only => true, :value => "עד תאריך", :class => "elementDefault"})-%>

				<br />
				<br />

				<%= f.text_field(:price_from, {:value => "ממחיר", :class => "elementDefault"})-%>
				<%= f.text_field(:price_to, {:value => "עד מחיר", :class => "elementDefault"})-%>

				<br />
				<br />

				<div class="accordion 	" id="accordion2">
					<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
								מאפייני חיפוש
							</a>
						</div>
						<div id="collapseOne" class="accordion-body collapse">
							<div class="accordion-inner">
								<% @room_porperties.each_with_index do |prop, i| -%>
									<% if ((i % 3) == 0) && i != 0 -%>
										<br />
									<% end -%>
									<%= label(prop, :name, prop.name, {:class => "labelDefault"}) -%>
									<%= check_box("room_porperty_request", "list", {:multiple => true}, prop.id, nil) -%>
								<% end -%>
							</div>
						</div>
					</div>
				</div>

				<% if user_signed_in? %>
					<%= f.hidden_field(:user_id, :value => current_user.id) %>
				<% end -%>

			</div>
			<div class="requestSubContainerLeft">
				
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />

				<%= email_field(:user, :email, {:value => "דוא\"ל", :class => "elementDefault elementWide"} ) %><br /><br />
				<!--%= email_field(:user, :email_confirmation, {:value => "אימות דוא\"ל", :class => "elementDefault elementWide"} ) %><br /><br /-->
				<%= text_field(:user, :first_name, {:value => "שם פרטי", :class => "elementDefault elementWide"} ) %><br /><br />
				<%= text_field(:user, :last_name, {:value => "שם משפחה", :class => "elementDefault elementWide"} ) %><br /><br />
				<%= text_field(:user, :phone, {:value => "טלפון", :class => "elementDefault elementWide"} ) %><br />

				<%= label(:user, :sms_enabled, "קבל הצעות ב-  SMS:", {:class => "labelDefault"}) -%>
				<%= check_box(:user, :sms_enabled, {}, "true", "false") -%><br /><br /><br />

				<div>
					<center>
						<%= label(:user, :terms_of_service_confirmed, "אני מסכים ל<a href='/'>תנאי השימוש</a>".html_safe, {:class => "labelDefault"}) -%>
						<%= check_box(:user, :terms_of_service_confirmed, {}, "true", "false") -%><br />

						<%= submit_tag('שלח', {:class => "btn-primary submitBtn"}) -%>
					</center>
				</div>

			</div>
		
		<% end -%>

		<!--%= f.datetime_select(Time.now, :order => [:day, :month, :year]) -%-->
		<!--%= select("group_users", "group_id", @room_types.collect {|p| [p.name, p.id ] }, { :include_blank => true }) %-->
	</div>
</div>


