<%= render(:partial => 'shared/error_messages', :locals => {:object => @request}) -%>
<%= form_for(@request, :url => {:action => "create"}, :html => { :onsubmit => "return validateRequestForm(this);" }) do |f| -%>
  <div id="main">
    <div id="form">
      <ol>
        <li class="selected">
          <a href="javascript:void(0);" onclick="openForm('form1')">בחירת סוג חדר ואיזור</a>
          <div id="form1">
            <%= f.select(:room_type_id, @room_types.map { |u| [u.name,u.id] }, {:selected => "1"}, {:class => "elementDefault"}) -%>
            <%= f.select(:region_id, @regions.map { |u| [u.name,u.id] }, {:selected => "1"}, {:class => "elementDefault"}) -%>
            <br />
            <%= getButton('המשך', 'openForm(\'form2\')').html_safe -%>
          </div>
        </li>
        <li>
          <a href="javascript:void(0);" onclick="openForm('form2')">אבזור בחדר</a>
          <div id="form2">
            <% @room_porperties.each_with_index do |prop, i| -%>
              <%= label 'room_porperty_request_list_', (i + 1) do -%>
                <%= check_box "room_porperty_request", "list", {:multiple => true}, prop.id, nil -%>
                <%= prop.name -%>
              <% end -%>
            <% end -%>
            <div class="clearFloats"></div><br />
            <%= getButton('המשך', 'openForm(\'form3\')').html_safe -%>
          </div>
        </li>
        <li>
          <a href="javascript:void(0);" onclick="openForm('form3')">מחירים ותאריכים</a>
          <div id="form3">
            <label class="short">מספר יחידות</label><%= f.text_field(:how_many_rooms, {:style => "width: 70px;"})-%><br />
            <label class="short">מתאריך</label><%= f.text_field(:start_date, {:read_only => true, :class => "smallInput", :autocomplete => "off"})-%>
            <label class="short">עד תאריך</label><%= f.text_field(:end_date, {:read_only => true, :class => "smallInput", :autocomplete => "off"})-%>
            <div class="clearFloats"></div>

            <label class="short">ממחיר</label><%= f.text_field(:price_from, {:class => "smallInput"})-%>
            <label class="short">עד מחיר</label><%= f.text_field(:price_to, {:class => "smallInput"})-%>
            <div class="clearFloats"></div>
            <%= getButton('המשך', 'openForm(\'form4\')').html_safe -%>
          </div>
        </li>
        <li>
          <a href="javascript:void(0);" onclick="openForm('form4')">מילוי פרטים וקבלת הצעה</a>
            <div id="form4">
              <label class="short">דוא"ל</label><%= email_field(:user, :email, {:style => "width:145px;"} ) %><br />
              <label class="short">שם פרטי</label><%= text_field(:user, :first_name, {:style => "width:145px;"} ) %><br />
              <label class="short">שם משפחה</label><%= text_field(:user, :last_name, {:style => "width:145px;"} ) %><br />
              <label class="short">טלפון</label><%= text_field(:user, :phone, {:style => "width:145px;"} ) %><br />

              
              <%= label :user, :sms_enabled do -%>
                <%= check_box :user, :sms_enabled, {}, "true", "false" -%>
                מעוניין לקבל sms
              <% end %>
              <br />

              <%= label :user, :terms_of_use_confirmed do -%>
                <%= check_box(:user, :terms_of_use_confirmed, {}, "true", "false") -%>
                אני מסכים לתנאי השימוש
              <% end %>
              <br />

              <%= submit_tag 'שלח' -%>
              <% if (ENV['RAILS_ENV'] == "development") %>
                <br /><input type="button" value="Fill From" class="btn btn-primary" onclick="fillAutoForm()" />
              <% end %>

            </div>    
        </li>
      </ol>
    </div>
    <div id="vSeparator"></div>
    <div id="mainAbout">
      <h1>שלום, אני גברת צימר.</h1>
      <p>אני מאמינה שכבר יצא לכם לעבור את התהליך המתיש של חיפוש צימר בעבר. שיטוט בין אתרי צימרים עמוסים, פניות לבעלי צימרים רבים, טלפונים, מיילים, השוואת מחירים, השוואת מאפיינים, תיאום תאריכים.... בקיצור, מעייף!</p>
      <p>באתר שלי תוכלו למצוא לכם צימר חלומי, לנופש מרגיע, ללא הצורך המתיש בחיפוש בין עשרות אתרים וצפיה במאות צימרים שלא מתאימים לדרישותיכם. כל שעליכם לעשות זה להגדיר את פרטי הנופש המבוקש ... ומכאן אני נכנסת לתפקיד.</p>
      <div id="signature">
        <h2>אז שתהיה לכם חופשה מהנה.</h2>
        <img src="../assets/home/signature.png" width="79" height="36" alt="שלכם גברת צימר" /></div>
        <div class="clearFloats"></div>
      </div>
      <div class="clearFloats"></div>
      <div id="steps"></div>
    </div>
  <% if user_signed_in? %>
    <%= f.hidden_field(:user_id, :value => current_user.id) %>
  <% end -%>
<% end -%>