<div id="main">
      <div id="form">
            <div style="background: url(../assets/global/verticaSeparator.png) no-repeat;"></div>
            <div>
              <p><b>פנייתכם התקבלה.</b></p>
              <p><%= @request.user.first_name -%>, נמצאו <%= @sites_counter -%> אתרים העונים על בקשתך, ב-24 השעות הקרובות יישלחו אלייך כל ההצעות הרלוונטיות!</p>
            </div>
            <div>
            	<div>------------------------------------------------------------------------</div>
                        <p>פרטי ההזמנה:</p>
                        <p><b>הזמנה מספר:</b> <%= @request.id -%></p>
            		<p><b>איזור:</b> <%= @request.region.name -%></p>
            		<p><b>סוג:</b> <%= @request.room_type.name -%></p>
            		<p><b>תאריך:</b> <%= @request.start_date.strftime('%d/%m/%Y') -%> - <%= @request.end_date.strftime('%d/%m/%Y') -%></p>
            		<p><b>מספר חדרים:</b> <%= @request.how_many_rooms -%></p>
            		<p>
                              <% if @request.room_properties.nil? || @request.room_properties.empty? %>
                                    לא נבחרו מאפייני חיפוש.
						<% else %>
							<% @request.room_properties.each do |prop| %>
								<span><%= prop.name -%><% if @request.room_properties.last != prop -%>,<% end -%></span>
							<% end -%>
						<% end -%>
            		</p>
            	<div>------------------------------------------------------------------------</div>
            </div>
            <div>אז שתהיה לכם חופשה מהנה.</div>
            <div style="background: url(../assets/global/signature.png) no-repeat;"></div>
		<div>המלצות.</div>
      </div>
</div>