<div id="main">
      <div id="confirmationContent">
            <h1>תודה! פנייתכם התקבלה</h1><br />
            <p>
                  <%= @request.user.first_name -%>, נמצאו <%= @sites_counter -%> אתרים העונים לבקשתך.<br />
                  ב 24 השעות הקרובות ישלחו אליך כל ההצעות הרלוונטיות.
                  <br /><br />
                  <img src="/assets/home/signature.png" width="79" height="36" alt="גברת צימר" />
            </p>
            <div id="confirmationOrderDetails">
                  <h2>פרטי ההזמנה</h2>
                  <span class="date"><%= @request.start_date.strftime('%d/%m/%Y') -%> - <%= @request.end_date.strftime('%d/%m/%Y') -%></span>
                  <span class="title">הזמנה מספר: </span>&nbsp;<span class="content"><%= @request.id -%></span><br />
                  <span class="title">איזור:</span>&nbsp;<span class="content"><%= @request.region.name -%></span><br />
                  <span class="title">סוג:</span>&nbsp;<span class="content"><%= @request.room_type.name -%></span><br />
                  <span class="title">מספר חדרים: </span>&nbsp;<span class="content"><%= @request.how_many_rooms -%></span><br />
                  
                  <% if @request.room_properties.nil? || @request.room_properties.empty? %>
                        <span class="content">לא נבחרו מאפייני חיפוש.</span>
                  <% else %>
                        <% @request.room_properties.each do |prop| %>
                              <span class="title">מאפייני חיפוש: </span>&nbsp;<span class="content"><%= prop.name -%><% if @request.room_properties.last != prop -%>,<% end -%></span><br />
                        <% end -%>
                  <% end -%>
            </div>
            <br /><br />
            <input type="button" value="הגש בקשה נוספת" onclick="document.location.href = '.'" />
        </div>
    </div>
