<div class="user_nav">
  <% if user_signed_in? %>
    רשום כ - <%= current_user.email %>. לא אתה?
    <%= link_to "צא", destroy_user_session_path, :method => :delete %>
  <% else %>
    <%= link_to "הרשם", new_user_registration_path %> או <%= link_to "הכנס", new_user_session_path %>
  <% end %>
</div>

<div class="welcomeContainer">
	<h1>ברוך הבא</h1>
	<p>לשולחן העבודה שלך!</p>
</div>

<br />
<br />

<ul id="tab" class="nav nav-tabs">
	<li class="<%= @main_focused %>"><a href="#home" data-toggle="tab">ראשי</a></li>
	<li class="<%= @request_focused %>"><a href="#requests" data-toggle="tab">בקשות</a></li>
</ul>

<div id="myTabContent" class="tab-content">
	<div class="tab-pane fade <%= @main_focused_active %> <%= @main_focused %>" id="home">
			<div>בקשות אחרונות:</div>
			<div class="accordion" id="accordionRequests">
				<% if @requests.length > 0 %>
					<% @requests.each_with_index do |request, i| -%>
					    <div class="accordion-group">
					      <div class="accordion-heading">
					        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionRequests" href="#collapse<%= i -%>">
					          <% user = User.find(request.user_id) %>
					          מספר בקשה: <%= request.id %>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;נוצר ב- <%= request.created_at.strftime("%d/%m/%Y") %>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;שם משתמש: <%= user.first_name + " " + user.last_name  -%>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;בקשה לתאריכים: <%= request.start_date.strftime("%d/%m/%Y") %> - <%= request.end_date.strftime("%d/%m/%Y") %>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;סטטוס: ממתין לתגובה
					        </a>
					      </div>
					      <div id="collapse<%= i -%>" class="accordion-body collapse">
					        <div class="accordion-inner">
					          בקשה ל- <%= request.how_many_rooms -%> יחידות דיור, טווח מחירים: ₪<%= request.price_from -%> - ₪<%= request.price_to -%>
					        </div>
					      </div>
					    </div>
					<% end -%>
				<% else %>
				<% end -%>
			</div>
			<br />
			<div>הודעות מערכת:</div>
			&nbsp;&nbsp;&nbsp;&nbsp;אין הודעות מערכת.
	</div>

	<div class="tab-pane fade <%= @request_focused_active %> <%= @request_focused %>" id="requests">
		<!--iframe src="/site_owner/cp/requests" class="tabFrame"></iframe-->
		<div class="accordion" id="accordionRequests">
			<% if @requests.length > 0 %>
				<% @requests.each_with_index do |request, i| -%>
				    <div class="accordion-group">
				      <div class="accordion-heading">
				        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionRequests" href="#collapse<%= i -%>">
				          <% user = User.find(request.user_id) %>
				          מספר בקשה: <%= request.id %>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;נוצר ב- <%= request.created_at.strftime("%d/%m/%Y") %>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;שם משתמש: <%= user.first_name + " " + user.last_name  -%>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;בקשה לתאריכים: <%= request.start_date.strftime("%d/%m/%Y") %> - <%= request.end_date.strftime("%d/%m/%Y") %>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;סטטוס: ממתין לתגובה
				        </a>
				      </div>
				      <div id="collapse<%= i -%>" class="accordion-body collapse">
				        <div class="accordion-inner">
				          בקשה ל- <%= request.how_many_rooms -%> יחידות דיור, טווח מחירים: ₪<%= request.price_from -%> - ₪<%= request.price_to -%>
				        </div>
				      </div>
				    </div>
				<% end -%>
			<% else %>
			<% end -%>
		</div>
	</div>
</div>