<h2>הכנס</h2><br />

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  
  <br />
  
  <a rel="tooltip" title="דוא''ל">
    <%= f.text_field(:email, {:placeholder => "דוא\"ל", :class => "elementDefault"})-%>
  </a><br />

  <a rel="tooltip" title="סיסמא">
    <%= f.password_field(:password, {:placeholder => "סיסמא", :class => "elementDefault"}) %>
  </a><br />

  <% if devise_mapping.rememberable? -%>
    <%= f.check_box :remember_me %>
    <%= f.label "זכור אותי" %>
  <% end -%>

  <%= f.submit('הכנס', {:class => "btn-primary submitBtn"}) -%>
<% end %>

<%= render "links" %>