<div id="main">
  <div id="form">
    <p><b>הכנס</B></p>
    <p>
      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
        <%= f.text_field(:email, {:placeholder => "דוא\"ל", :class => "elementDefault"})-%>
        <%= f.password_field(:password, {:placeholder => "סיסמא", :class => "elementDefault"}) %>
        <% if devise_mapping.rememberable? -%>
          <%= f.check_box :remember_me %>
          <%= f.label "זכור אותי" %>
        <% end -%>
        <%= f.submit('הכנס', {:class => "btn-primary submitBtn"}) -%>
      <% end %>

      <%= render "links" %>
    </p>
  </div>    
</div>