    <div id="main">
    
	<!------------------------------------>

		<div id="content-a">
			<h2>עריכת תוכן כללי</h2>
            <%= form_for(@site[0], :url => {:action => "update"}, :html => { :onsubmit => "getNewUserProperties('propertiesList', 'userNewProp'); validateForm(this); return false;" }) do |f| -%>
	            <div id="leftForm">
					<a rel="tooltip" title="תאור כללי אודות המקום">
						<%= f.text_area(:description, {:placeholder => "תאור כללי אודות המקום"})-%>
					</a>
	                <a rel="tooltip" title="מה כלול באירוח">
						<%= f.text_area(:what_included, {:placeholder => "כלול באירוח"})-%>
					</a>
		            <div id="propertiesContainer">
		                <h2>עריכת מאפיינים</h2>
		                <p>בחר מתוך רשימת המאפיינים הקיימת.<br /> ניתן להוסיף מאפיינים שאינם קיימים ברשימה.</p>
		            	<div id="properties" >
							<ul id="propertiesList">
								<li><input type="checkbox" name="properties"  value="airCondition"/><span class="propertyTitle">מזגן</span></li>
			                    <li><input type="checkbox" name="properties"  value="pool"/><span class="propertyTitle">בריכה</span></li>
			                    <li><input type="checkbox" name="properties"  value="BabiesBed"/><span class="propertyTitle">מיטת תינוק</span></li>
			                    <li><input type="checkbox" name="properties"  value="parking"/><span class="propertyTitle">חניה</span></li>
								<% @site_room_properties.each do |prop| %>
										
										<tr id="room_porperty_list_<%= prop.id -%>_container">
											<td>
												<a rel="tooltip" title="מחק מאפיין">
													<%= check_box("room_porperty", "list", {:multiple => true}, prop.id, nil) -%>
												</a>
											</td>
											<td>
												<%= label("room_porperty",  "list_" + prop.id.to_s, prop.name, {:class => "labelDefault"}) -%>
											</td>
										</tr>
								<% end -%>
			                </ul>
		            	</div>
	                	<input type="text" name="newProperty" id="newProperty" placeholder="הוספת מאפיין חדש" style="width:180px;" onkeydown="if (event.keyCode == 13 ) {
	                         if(this.value.length >0){ 
	                            addNewProperty('newProperty', 'propertiesList'); 
	                        }
	                        return (false);
	                    }"
	                	/>
		                <input type="button" value="הוספה" onclick="addNewProperty('newProperty', 'propertiesList');" />
		                <input type="hidden" name="userNewProp"  id="userNewProp"  />
		            </div>
		            <p class="changePassword"><%= link_to ">> שנה סיסמא", '/site_owners/edit'%></p>
		           	<%= submit_tag('שמור', {:class => "topMargin"}) -%>
	            </div>	
	            <div id="rightForm">
	            	<a rel="tooltip" title="שם אתר">
						<%= f.text_field(:name, {:placeholder => "שם אתר", :autocomplete => "off"})-%>
					</a>
					<a rel="tooltip" title="טלפון">
						<%= f.text_field(:phone, {:placeholder => "טלפון"})-%>
					</a>
					<a rel="tooltip" title="נייד">
						<%= f.text_field(:mobile, {:placeholder => "נייד"})-%>
					</a>
					<a rel="tooltip" title="פקס">
						<%= f.text_field(:fax, {:placeholder => "פקס"})-%>
					</a>
					<a rel="tooltip" title="מייל">
						<%= f.text_field(:email, {:placeholder => "מייל"})-%>
					</a>
					<a rel="tooltip" title="שם איש קשר">
						<%= f.text_field(:contact_point_name, {:placeholder => "שם איש קשר"})-%>
					</a>
					<a rel="tooltip" title="אזור">
						<%= f.select(:region_id, @regions.map { |u| [u.name,u.id] }) -%>
					</a>
					<a rel="tooltip" title="עיר">
						<%= f.select(:city_id, @cities.map { |u| [u.name,u.id] }) -%>
					</a>
					<a rel="tooltip" title="סוג">
						<%= f.select(:room_type_id, @room_types.map { |u| [u.name,u.id] }) -%>
					</a>
					<a rel="tooltip" title="כתובת">
						<%= f.text_field(:address, {:placeholder => "כתובת"})-%>
					</a>
	            	<input type="text" name="mapLink" placeholder="קישור למפה בגוגל"  />
	            	<input type="text" name="email" placeholder="קישור לאתר"  /> 
	            </div>
	            
	            <div class="clearFloats"></div>
				<%= f.hidden_field(:site_owner_id, :value => current_site_owner.id) %>
		    <% end -%>
		</div>
		
        <div id="content-b">
        	<h2>תמחור תוספות</h2>
			<div id="extrasPricingContainer">
            <form action="http://yanga.getmyip.com/sms/indexDev.asp" method="post" onsubmit="getNewUserExtras('extrasList', 'userNewExtras'); validateForm(this); return false;">
            
            
            	<ul id="extrasList">
                    	<li><input type="checkbox" name="properties"  value="airCondition" class="extraActive"/><input type="text" name="extraName" id="extraName" value="p1"  class="extraTitle"/><input type="text" value="100" name="extraPrice" id="extraPrice"  class="extraPrice" /></li>
                        <li><input type="checkbox" name="properties"  value="airCondition" class="extraActive"/><input type="text" name="extraName" id="extraName" value="p2"  class="extraTitle"/><input type="text" value="200"  name="extraPrice" id="extraPrice"  class="extraPrice" /></li>
                        <li><input type="checkbox" name="properties"  value="airCondition" class="extraActive"/><input type="text" name="extraName" id="extraName" value="p3"  class="extraTitle"/><input type="text" value="300"  name="extraPrice" id="extraPrice"  class="extraPrice" /></li>
                        <li><input type="checkbox" name="properties"  value="airCondition" class="extraActive"/><input type="text" name="extraName" id="extraName" value="p4"  class="extraTitle"/><input type="text" value="400"  name="extraPrice" id="extraPrice"  class="extraPrice" /></li>
                </ul>
                        
           </div>
           <span id="newExtraContainer">
           		<input type="text" value="p5"  class="extraTitle" id="newExtraTitle"/>
                <input type="text" value="500"  class="extraPrice" id="newExtraPrice" />
           		<input type="button" value="הוספה" onclick="addNewExtra('newExtraTitle', 'newExtraPrice', 'extrasList');" />
                <input type="hidden" name="userNewExtras"  id="userNewExtras"  />  
           </span>
           <span id="saveChanges"><input type="submit" value="שמור שינויים"  /></span>
            </form>
		</div>
        
        
         <!------------------------------------>
		<div id="content-c">
			<h2>הוספת תמונות</h2>
          <div id="uploadContainer">  
              <ul id="imagesList">
              		<li>
                      <div class="imageContainer">
                            <div class="imageData">
                                  <input type="text" name="imageName" id="imageName" class="extraTitle" value="מבט לג'קוזי" /><br /><br />
                                    <br />
                                    <br />
                                  <input type="file" name="imageSrc" id="imageSrc"  />
                                  <input type="button" value="מחיקה"  class="deleteButton" />
                            </div>
                            <div class="imagePreview"></div>
                            <div class="imageArrows"><img src="../assets/cp_template/arrowUp.gif" width="21" height="21" /><img src="../assets/cp_template/spacer.gif" width="21" height="58" /><img src="../assets/cp_template/arrowDown.gif" width="21" height="21" /></div>                
                        </div>
                	</li>
                    
                    
                    <li>
                      <div class="imageContainer">
                            <div class="imageData">
                                  <input type="text" name="imageName" id="imageName" class="extraTitle" value="מבט לג'קוזי" /><br /><br />
                                    <br />
                                    <br />
                                  <input type="file" name="imageSrc" id="imageSrc"  />
                                  <input type="button" value="מחיקה"  class="deleteButton" />
                            </div>
                            <div class="imagePreview"></div>
                            <div class="imageArrows"><img src="../assets/cp_template/arrowUp.gif" width="21" height="21" /><img src="../assets/cp_template/spacer.gif" width="21" height="58" /><img src="../assets/cp_template/arrowDown.gif" width="21" height="21" /></div>                
                        </div>
                	</li>
                    
                    
                    <li>
                      <div class="imageContainer">
                            <div class="imageData">
                                  <input type="text" name="imageName" id="imageName" class="extraTitle" value="מבט לג'קוזי" /><br /><br />
                                    <br />
                                    <br />
                                  <input type="file" name="imageSrc" id="imageSrc"  />
                                  <input type="button" value="מחיקה"  class="deleteButton" />
                            </div>
                            <div class="imagePreview"></div>
                            <div class="imageArrows"><img src="../assets/cp_template/arrowUp.gif" width="21" height="21" /><img src="../assets/cp_template/spacer.gif" width="21" height="58" /><img src="../assets/cp_template/arrowDown.gif" width="21" height="21" /></div>                
                        </div>
                	</li>
                    
                    
                    <li>
                      <div class="imageContainer">
                            <div class="imageData">
                                  <input type="text" name="imageName" id="imageName" class="extraTitle" value="מבט לג'קוזי" /><br /><br />
                                    <br />
                                    <br />
                                  <input type="file" name="imageSrc" id="imageSrc"  />
                                  <input type="button" value="מחיקה"  class="deleteButton" />
                            </div>
                            <div class="imagePreview"></div>
                            <div class="imageArrows"><img src="../assets/cp_template/arrowUp.gif" width="21" height="21" /><img src="../assets/cp_template/spacer.gif" width="21" height="58" /><img src="../assets/cp_template/arrowDown.gif" width="21" height="21" /></div>                
                        </div>
                	</li>
                    
                    
                    <li>
                      <div class="imageContainer">
                            <div class="imageData">
                                  <input type="text" name="imageName" id="imageName" class="extraTitle" value="מבט לג'קוזי" /><br /><br />
                                    <br />
                                    <br />
                                  <input type="file" name="imageSrc" id="imageSrc"  />
                                  <input type="button" value="מחיקה"  class="deleteButton" />
                            </div>
                            <div class="imagePreview"></div>
                            <div class="imageArrows"><img src="../assets/cp_template/arrowUp.gif" width="21" height="21" /><img src="../assets/cp_template/spacer.gif" width="21" height="58" /><img src="../assets/cp_template/arrowDown.gif" width="21" height="21" /></div>                
                        </div>
                	</li>
               </ul>
            </div>
            
          <div id="uploadActions">
            	<input type="button" value="הוספת תמונה " onclick="addNewImage('imagesList');" />
                <input type="button" value="שמירה" class="floatButtonLeft"/>
                
            </div>
             
		</div>
         <!------------------------------------>
	
    
    <!------------------------------------>
    </div>
    <div id="separator"></div>
    <div id="rightBar"><br /><br />
        <h1>    שלום <%=  current_site_owner.first_name -%>,<br />
        ברוך הבא לשולחן העבודה שלך</h1>
        <p>
        אני מאמינה שכבר יצא לכם לעבור את התהליך המתיש של חיפוש צימר בעבר.
        שיטוט בין אתרי צימרים עמוסים, פניות לבעלי צימרים רבים, טלפונים, מיילים, השוואת מחירים, השוואת מאפיינים, תיאום תאריכים.... בקיצור, מעייף!</p>
        
    </div>
    <div id="rightMenu">
        <ul>
            <li><a onclick="displayTab('main', 'content-a')" id="link-content-a">עריכת תוכן כללי</a></li>
            <li><a onclick="displayTab('main', 'content-b')" id="link-content-b">תמחור תוספות</a></li>
            <li><a onclick="displayTab('main', 'content-c')" id="link-content-c">גלרית תמונות כללית</a></li>
        </ul>
    </div>
    <div class="clearFloats"></div>
</div>
