<div class="user_nav">
  <% if site_owner_signed_in? %>
    רשום כ - <%= current_site_owner.email %>. לא אתה?
    <%= link_to "צא", destroy_site_owner_session_path, :method => :delete %>
  <% else %>
    <%= link_to "הרשם", new_site_owner_registration_path %> או <%= link_to "הכנס", new_site_owner_session_path %>
  <% end %>
</div>

<div class="welcomeContainer">
	<h1>ברוך הבא</h1>
	<p>לשולחן העבודה שלך!</p>
</div>

<br />
<br />

<ul id="tab" class="nav nav-tabs">
	<li class="<%= @main_focused %>"><a href="#home" data-toggle="tab">ראשי</a></li>
	<li class="<%= @request_focused %>"><a href="#requests" data-toggle="tab">בקשות</a></li>
	<li class="<%= @update_focused %>"><a href="#siteEditor" data-toggle="tab">ערוך אתר</a></li>
	<!--li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
		<ul class="dropdown-menu">
			<li><a href="#dropdown1" data-toggle="tab">@fat</a></li>
			<li><a href="#dropdown2" data-toggle="tab">@mdo</a></li>
		</ul>
	</li-->
</ul>

<div id="myTabContent" class="tab-content">
	<div class="tab-pane fade <%= @main_focused_active %> <%= @main_focused %>" id="home">
		<!--iframe src="/site_owner/cp/main" class="tabFrame"></iframe-->
			<div>בקשות אחרונות:</div>
			<div class="accordion" id="accordionRequests">
				<% if @requests.length > 0 %>
					<% @requests.each_with_index do |request, i| -%>
					    <div class="accordion-group">
					      <div class="accordion-heading">
					        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionRequests" href="#collapse<%= i -%>">
					          <% user = User.find(request.user_id) %>
					          מספר בקשה: <%= request.id %>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;נוצר ב- <%= request.created_at.strftime("%d/%m/%Y") %>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;שם משתמש: <%= user.first_name + " " + user.last_name  -%>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;בקשה לתאריכים: <%= request.start_date.strftime("%d/%m/%Y") %> - <%= request.end_date.strftime("%d/%m/%Y") %>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;סטטוס: ממתין לתגובה
					        </a>
					      </div>
					      <div id="collapse<%= i -%>" class="accordion-body collapse">
					        <div class="accordion-inner">
					          בקשה ל- <%= request.how_many_rooms -%> יחידות דיור, טווח מחירים: ₪<%= request.price_from -%> - ₪<%= request.price_to -%>
					        </div>
					      </div>
					    </div>
					<% end -%>
					<% else %>
					<% if @site[0].id %>
						&nbsp;&nbsp;&nbsp;&nbsp;לא התקבלו בקשות.
					<% else %>
						&nbsp;&nbsp;&nbsp;&nbsp;לא קיים אתר. להקמת אתר חדש עבור ללשונית "ערוך אתר".
					<% end %>
				<% end -%>
			</div>
			<br />
			<div>הודעות מערכת:</div>
			&nbsp;&nbsp;&nbsp;&nbsp;אין הודעות מערכת.
	</div>

	<div class="tab-pane fade <%= @request_focused_active %> <%= @request_focused %>" id="requests">
		<!--iframe src="/site_owner/cp/requests" class="tabFrame"></iframe-->
		<div class="accordion" id="accordionRequests">
			<% if @requests.length > 0 %>
				<% @requests.each_with_index do |request, i| -%>
				    <div class="accordion-group">
				      <div class="accordion-heading">
				        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionRequests" href="#collapse<%= i -%>">
				          <% user = User.find(request.user_id) %>
				          מספר בקשה: <%= request.id %>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;נוצר ב- <%= request.created_at.strftime("%d/%m/%Y") %>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;שם משתמש: <%= user.first_name + " " + user.last_name  -%>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;בקשה לתאריכים: <%= request.start_date.strftime("%d/%m/%Y") %> - <%= request.end_date.strftime("%d/%m/%Y") %>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;סטטוס: ממתין לתגובה
				        </a>
				      </div>
				      <div id="collapse<%= i -%>" class="accordion-body collapse">
				        <div class="accordion-inner">
				          בקשה ל- <%= request.how_many_rooms -%> יחידות דיור, טווח מחירים: ₪<%= request.price_from -%> - ₪<%= request.price_to -%>
				        </div>
				      </div>
				    </div>
				<% end -%>
			<% else %>
				<% if @site[0].id %>
					&nbsp;&nbsp;&nbsp;&nbsp;לא התקבלו בקשות.
				<% else %>
					&nbsp;&nbsp;&nbsp;&nbsp;לא קיים אתר. להקמת אתר חדש עבור ללשונית "ערוך אתר".
				<% end %>
			<% end -%>
		</div>
	</div>

	<div class="tab-pane fade <%= @update_focused_active %> <%= @update_focused %>" id="siteEditor">
		<!--iframe src="/site_owner/cp/site_editor" class="tabFrame"></iframe-->
		<div class="tabbable tabs-right">
		  <ul class="nav nav-tabs">
		    <li class="active"><a href="#rA" data-toggle="tab">עריכת תוכן כללי</a></li>
		    <li><a href="#rB" data-toggle="tab">תמחורים</a></li>
		    <li><a href="#rC" data-toggle="tab">גלריית תמונות כללי</a></li>
		    <li><a href="#rD" data-toggle="tab">חדר 1</a></li>
		    <li><a href="#rE" data-toggle="tab">חדר 2</a></li>
		    <li><a href="#rF" data-toggle="tab">הוסף חדר +</a></li>
		  </ul>
		  <div class="tab-content">
		    <div class="tab-pane active" id="rA">
			<%= form_for(@site[0], :url => {:action => "update"}, :html => { :onsubmit => "return true;" }) do |f| -%>
				<a rel="tooltip" title="שם אתר">
					<%= f.text_field(:name, {:placeholder => "שם אתר", :class => "elementDefault", :autocomplete => "off"})-%>
				</a>
				<a rel="tooltip" title="תאור כללי אודות המקום">
					<%= f.text_field(:description, {:placeholder => "תאור כללי אודות המקום", :class => "elementDefault", :autocomplete => "off"})-%>
				</a>
				<a rel="tooltip" title="מה כלול באירוח">
					<%= f.text_field(:what_included, {:placeholder => "כלול באירוח", :class => "elementDefault", :autocomplete => "off"})-%>
				</a>
				<div class="accordion" id="accordion2" style="width: 400px;">
					<div class="accordion-group">
						<div class="accordion-heading">
							<a rel="tooltip" title="הוספת מאפייני אתר" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
								מאפייני אתר
							</a>
						</div>
						<div id="collapseOne" class="accordion-body collapse">
							<div class="accordion-inner">
								<table id="current_room_porperty_list_table" style="width: auto; display: <% if @site[0].room_properties.length > 0 %>  <% else -%> none <% end -%>;" class="table table-bordered table-striped">
								   <thead>
								      <tr>
								        <th>
								        	<a href="#" rel="tooltip" title="מחק הכל">
								        		<input id="current_site_properties_select_all" type="checkbox" checked="true"/>
								        	</a>
								        </th>
								        <th>תאור</th>
								        <th>מחיר</th>
								      </tr>
								    </thead>
									<tbody>
										<% @site[0].room_properties.each_with_index do |prop, i| -%>
											<tr id="current_room_porperty_site_list_<%= prop.id -%>_container">
												<td>
													<!--%= f.check_box(:room_properties, {:multiple => true}, prop.id, nil) -%-->
													<a rel="tooltip" title="מחק מאפיין">
														<%= check_box("room_porperty_site", "list", {:checked => true, :multiple => true}, prop.id, nil) -%>
													</a>
												</td>
												<td>
													<%= label("room_porperty_site",  "list_" + prop.id.to_s, prop.name, {:class => "labelDefault"}) -%>
												</td>
												<td>
													<% #TODO: replace all room_properties params to be fields_for %>
													<%= text_field("room_porperty_site", "price" + prop.id.to_s, {:value => prop.price, :class => "elementDefault"})-%>
												</td>
											</tr>
										<% end -%>
									</tbody>
								</table>
								<div style="display: <% if @site[0].room_properties.length > 0 %>  none <% else -%>  <% end -%>;" id="current_room_porperty_list_empty_container">
									לא קיימים מאפייני אתר
								</div>															
								<a data-toggle="modal" href="#myModal" class="btn">הוסף מאפיניים +</a>
							</div>
						</div>
					</div>
				</div>
				<a rel="tooltip" title="טלפון">
					<%= f.text_field(:phone, {:placeholder => "טלפון", :class => "elementDefault"})-%>
				</a>
				<a rel="tooltip" title="נייד">
					<%= f.text_field(:mobile, {:placeholder => "נייד", :class => "elementDefault"})-%>
				</a>
				<a rel="tooltip" title="פקס">
					<%= f.text_field(:fax, {:placeholder => "פקס", :class => "elementDefault"})-%>
				</a>
				<a rel="tooltip" title="דוא''ל">
					<%= f.text_field(:email, {:placeholder => "דוא\"ל", :class => "elementDefault"})-%>
				</a>
				<a rel="tooltip" title="שם איש קשר">
					<%= f.text_field(:contact_point_name, {:placeholder => "שם איש קשר", :class => "elementDefault"})-%>
				</a>
				<a rel="tooltip" title="אזור">
					<%= f.select(:region_id, @regions.map { |u| [u.name,u.id] }, {:class => "elementDefault"}) -%>
				</a>
				<a rel="tooltip" title="עיר">
					<%= f.select(:city_id, @cities.map { |u| [u.name,u.id] }, {:class => "elementDefault"}) -%>
				</a>
				<a rel="tooltip" title="כתובת">
					<%= f.text_field(:address, {:placeholder => "כתובת", :class => "elementDefault"})-%>
				</a>
				<%= f.hidden_field(:site_owner_id, :placeholder => current_site_owner.id) %>
				<%= submit_tag('שמור', {:class => "btn-primary btn-large submitBtn"}) -%>
		    <% end -%>

		    </div>
		    <div class="tab-pane" id="rB">
		      





















		      




















		    </div>
		    <div class="tab-pane" id="rC">
		      <p>גלריית תמונות כללי</p>
		    </div>
		    <div class="tab-pane" id="rD">
		      <p>חדר 1</p>
		    </div>
		    <div class="tab-pane" id="rE">
		      <p>חדר 2</p>
		    </div>
		    <div class="tab-pane" id="rF">
		      <p>הוסף חדר +</p>
		    </div>
		  </div>
		</div>
	</div>
	<!--div class="tab-pane fade" id="dropdown1">
		<p>dropdown1</p>
	</div>
	<div class="tab-pane fade" id="dropdown2">
		<p>dropdown2</p>
	</div-->
</div>

<div id="myModal" class="modal fade">
	<div class="modal-header">
	  <a class="close" data-dismiss="modal" >&times;</a>
	  <h3>&nbsp;הוספת מאפיינים</h3>
	</div>
	<div class="modal-body">
		<table id="room_porperty_list_table" style="width: auto; display: <% if @room_properties.length > 0 %>  <% else -%> none  <% end -%>;" class="table table-bordered table-striped">
		   <thead>
		      <tr>
		        <th>
		        	<a href="#" rel="tooltip" title="הוסף הכל">
		        		<input id="site_properties_select_all" type="checkbox" />
	        		</a>
		        </th>
		        <th>תאור</th>
		      </tr>
		    </thead>
			<tbody>
				<% @room_properties.each do |prop| %>
						<tr id="room_porperty_list_<%= prop.id -%>_container">
							<td>
								<a rel="tooltip" title="מחק מאפיין">
									<%= check_box("room_porperty", "list", {:multiple => true}, prop.id, nil) -%>
								</a>
							</td>
							<td>
								<%= label("room_porperty",  "list_" + prop.id.to_s, prop.name, {:class => "labelDefault"}) -%>
							</td>
						</tr>
				<% end -%>
			</tbody>
		</table>
		<div style="display: <% if @room_properties.length > 0 %>  none <% else -%>  <% end -%>;" id="room_porperty_list_empty_container">
			לא קיימים מאפייני אתר נוספים.
		</div>
	</div>
	<div class="modal-footer">
	  <a href="#" class="btn" data-dismiss="modal" style="float: left;">בטל</a>
	  <input type="button" onclick="addSiteProperties();" class="btn btn-primary" style="float: left;" value="הוסף מאפיינים">
	  
	</div>
</div>

<script type="text/javascript">
	function addSiteProperties() {
		$("input:checkbox[id^='room_porperty_list']:checked").each(function (index) {
			var me = $(this);
			var tr = me.parent().parent().parent();
			var tbody = tr.parent();
			var label = $('label[for="' + me.attr('id') + '"]');
		
			$("<input>", {
			    type: "text",
			    val: "",
			    id: me.attr('id').replace("list_", "site_price"),
			    name: me.attr('id').replace("list_", "site[price") + "]",
			    size: 30,
			    "class": "elementDefault"
			}).appendTo('<td>').parent().appendTo(tr);

			tr.attr('id', tr.attr('id').replace('room', 'current_room').replace('room_porperty', 'room_porperty_site'));
			me.attr('id', me.attr('id').replace('room_porperty', 'room_porperty_site'));
			me.attr('name', me.attr('name').replace('room_porperty', 'room_porperty_site'));
			label.attr('for', label.attr('for').replace('room_porperty', 'room_porperty_site'));
			
			$('#current_room_porperty_list_empty_container').hide();
			$('#current_room_porperty_list_table').show();

			me.click(function () {
				var me = $(this);
				var tr = me.parent().parent().parent();
				var tbody = tr.parent();
				var label = $('label[for="' + me.attr('id') + '"]');
				var priceTd = tr.children('td:last-child');
				
				priceTd.remove();
				if (tbody.children().length == 1) {
					$("#current_room_porperty_list_table").hide();
					$("#current_room_porperty_list_empty_container").show();
				}

				tr.attr('id', tr.attr('id').replace('current_', '').replace('site_', ''));
				me.attr('id', me.attr('id').replace('current_', '').replace('site_', ''));
				me.attr('name', me.attr('name').replace('current_', '').replace('site_', ''));
				label.attr('for', label.attr('for').replace('current_', '').replace('site_', ''));
				me.unbind('click');
				$('#room_porperty_list_table > tbody:last').append(tr);
				$("#room_porperty_list_table").show();
				$("#room_porperty_list_empty_container").hide();
			});

			$('#current_room_porperty_list_table > tbody:last').append(tr);

			me.attr('checked', true);
			$("#site_properties_select_all").attr('checked', false);
		});
		if ($("input:checkbox[id^='room_porperty_list']:visible").length == 0) {
			$("#room_porperty_list_table").hide();
			$("#room_porperty_list_empty_container").show();
		}
		$('#myModal').modal('hide');
	}
</script>