<div class="mainContainer">
	<div class="signUpContainer">
		<h2>הרשם</h2>

		<%= form_for(resource, :as => resource_name, :url => {:controller => 'site_owner', :action => 'create'}) do |f| %>
			<%= devise_error_messages! %>

			<%= f.email_field :email, {:value => "דוא\"ל", :class => "elementDefault elementWide"} %><br /><br />

			<div id="div1">
				<input class="elementDefault elementWide" name="pass_temp" type="text" value='סיסמה' size="20" maxlength="20" onfocus="changePassBox();" />
			</div>
			<div id="div2" style="display:none">
				<%= f.password_field :password, {:class => "elementDefault elementWide", :onBlur => "restorePassBox();"} %>
			</div>

			<br />
			<br />

			<div id="div3">
				<input class="elementDefault elementWide" name="pass_temp1" type="text" value='אימות סיסמה' size="20" maxlength="20" onfocus="changePassBox1();" />
			</div>
			<div id="div4" style="display:none">
		  		<%= f.password_field :password_confirmation, {:class => "elementDefault elementWide", :onBlur => 'restorePassBox1();'} %>
			</div>


		  	<div><%= f.submit "הרשם" %></div>
		<% end %>
	</div>

	<div class="orContainer">
		או
	</div>
	<div class="signInContainer">
		<h2>הכנס</h2>

		<%= form_for(resource, :as => resource_name, :url => {:controller => 'site_owner', :action => 'welcome'}) do |f| %>
			<%= f.email_field :email, {:value => "דוא\"ל", :class => "elementDefault elementWide"} %>

			<br />
			<br />

			<div id="div5">
				<input class="elementDefault elementWide" name="pass_temp2" type="text" value='סיסמה' size="20" maxlength="20" onfocus="changePassBox2();" />
			</div>
			<div id="div6" style="display:none">
				<%= f.password_field :password, {:class => "elementDefault elementWide", :onBlur => "restorePassBox2();"} %>
			</div>

			<br />
			<br />

			<% if devise_mapping.rememberable? -%>
				<div><%= f.check_box :remember_me %> <%= f.label :remember_me, 'זכור אותי' %></div>
			<% end -%>

			<div><%= f.submit "הכנס" %></div>
		<% end %>

	</div>
</div>