<h2>בעל צימר, הצטרף</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <% if @site_owner %>
  	<%= devise_error_messages! %>
  <% end -%>

  <br />
  
  <a rel="tooltip" title="דוא''ל">
    <%= f.text_field(:email, {:placeholder => "דוא\"ל", :class => "elementDefault"})-%>
  </a><br />
  <a rel="tooltip" title="שם פרטי">
    <%= f.text_field(:first_name, {:placeholder => "שם פרטי", :class => "elementDefault"})-%>
  </a><br />
  <a rel="tooltip" title="שם משפחה">
    <%= f.text_field(:last_name, {:placeholder => "שם משפחה", :class => "elementDefault"})-%>
  </a><br />
  <a rel="tooltip" title="סיסמא">
    <%= f.password_field(:password, {:placeholder => "סיסמא", :class => "elementDefault"}) %>
  </a><br />
  
  <a rel="tooltip" title="אימות סיסמא">
    <%= f.password_field(:password_confirmation, {:placeholder => "אימות סיסמא", :class => "elementDefault"}) %>
  </a><br />
  <a rel="tooltip" title="טלפון">
    <%= f.text_field(:phone, {:placeholder => "טלפון", :class => "elementDefault"} ) %>
  </a><br />

  <div>
    <center>
      <%= f.label(:terms_of_use_confirmed, "אני מסכים ל<a href='/'>תנאי השימוש</a>".html_safe, {:class => "labelDefault"}) -%>
      <%= f.check_box(:terms_of_use_confirmed, {}, "true", "false") -%><br />

      <%= f.submit('הרשם', {:class => "btn-primary submitBtn"}) -%>
    </center>
  </div>
<% end %>

<%= render "links" %>
