<div id="main">
  <div id="siteOwnerRegisterContent">
    <h1>בעל צימר? הצטרף</h1>
    <p>
      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
        <% if @site_owner %>
          <%= devise_error_messages! %>
        <% end -%>

          <%= label_tag :email, 'דוא"ל' %><br />
          <%= f.text_field(:email)-%><br />
          <%= label_tag :first_name, 'שם פרטי' %><br />
          <%= f.text_field(:first_name)-%><br />
          <%= label_tag :last_name, 'שם משפחה' %><br />
          <%= f.text_field(:last_name)-%><br />
          <%= label_tag :password, 'סיסמא' %><br />
          <%= f.password_field(:password) %><br />
          <%= label_tag :password_confirmation, 'אימות סיסמא' %><br />
          <%= f.password_field(:password_confirmation) %><br />
          <%= label_tag :phone, 'טלפון' %><br />
          <%= f.text_field(:phone) %><br />

          <%= f.label(:terms_of_use_confirmed, "אני מסכים ל<a href='/'>תנאי השימוש</a>".html_safe) -%>
          <%= f.check_box(:terms_of_use_confirmed, {}, "true", "false") -%><br /><br />

          <%= f.submit('הרשם') -%><br /><br />
      <% end %>

      <%= render "links" %>
    </p>
  </div>
</div>