<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>גברת צימר</title>

    <%= csrf_meta_tags %>

    <!-- styles -->
    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <!-- fav and touch icons -->
    <link href="/assets/home/favicon.ico" rel="shortcut icon">
  </head>
  <body>
    <% [:notice, :error, :alert].each do |level| %>
      <% unless flash[level].blank? %>
        <div data-alert="alert" class="alert alert-<%= flash_class(level) %> fade in">
          <a class="close" data-dismiss="alert" href="#">&times;</a>
          <%= content_tag :p, flash[level] %>
        </div>
      <% end %>
    <% end %>
    <div id="container">
      <div id="header">
        <div id="logo">
            <%= link_to root_url do %>
              <img src="/assets/home/logo.png" width="281" height="275" alt="גברת צימר" />
            <% end %>
        </div>
        <div id="menu">
          <div id="leftMenu">
            <% if user_signed_in? -%>
              <div id="logout"><%= link_to "התנתק", destroy_user_session_path, {:method => :delete} %></div>
              <div id="welcome">שלום <%= current_user.first_name %>, <%= link_to "היכנס לחשבונך", "user/cp"  %></div>
            <% else %>
              <div id="logout"><%= link_to "הכנס", new_user_session_path %></div>
              <div id="welcome">שלום אורח, <%= link_to "הרשם", new_user_registration_path %> או</div>
            <% end %>
          </div>
          <div id="rightMenu">
            <ul>
              <li><%= link_to "עמוד הבית", root_url -%></li>
              <li><%= link_to "אודות", "/about_us" -%></li>
              <li><%= link_to "תקנון", "/terms_of_use" -%></li>
              <li><%= link_to "יצירת קשר", "/contact_us" -%></li>
            </ul>
          </div>
        </div>
      </div>

      <%= yield %>
        
      <div id="closer"></div>
    </div>
    <div id="footer">
        <div style="margin-top:15px;">
          <div style="margin: 0 auto; width: 600px;">
            <div style="float: right;"><img src="/assets/home/logo.png" width="80px" height="80px"/></div>
            <div style="float: right; margin-right: 30px;">
              <div style="text-align: center; font-size: 14px; margin-bottom: 10px;"><b>גברת צימר</b> - עובדת בשבילך, &copy; גברת צימר 2012</div>
              <div style="text-align: center; float:right; width:60px; border-left: 1px solid gray;"><%= link_to "דף הבית", root_url, :style => "color: #656565; "  %></div>
              <div style="text-align: center; float:right; width:60px; border-left: 1px solid gray;"><%= link_to "אודות", "/about_us", :style => "color: #656565; "  %></div>
              <div style="text-align: center; float:right; width:60px; border-left: 1px solid gray;"><%= link_to "תקנון", "/terms_of_use", :style => "color: #656565; "  %></div>
              <div style="text-align: center; float:right; width:60px;"><%= link_to "יצירת קשר", "/contact_us", :style => "color: #656565; "  %></div>
            </div>
            <div style="float: right; margin-right: 40px;">
              <div style="width:80px; text-align: center; font-weight: bold; font-size: 14px; margin-bottom: 2px;">בעל צימר?</div>
              <div style="width:80px;"><%= link_to "הרשם", new_site_owner_registration_path, :style => "float:right; width: 80px; text-align: center; color: #656565; "  %></div>
              <div style="width:80px;"><%= link_to "הכנס", new_site_owner_session_path, :style => "float:right; width: 80px; text-align: center; color: #656565; "  %></div>
            </div>  
          </div>
        </div>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>