<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>גברת צימר</title>

    <%= csrf_meta_tags %>

    <!-- styles -->
    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <!-- fav and touch icons -->
    <link href="images/favicon.ico" rel="shortcut icon">
  </head>
  <body>
    <img src="../assets/global/bg.jpg" id="bg" />
    
    
    <div id="content">
          <% [:notice, :error, :alert].each do |level| %>
            <% unless flash[level].blank? %>
              <div data-alert="alert" class="alert alert-<%= flash_class(level) %> fade in">
                <a class="close" data-dismiss="alert" href="#">&times;</a>
                <%= content_tag :p, flash[level] %>
              </div>
            <% end %>
          <% end %>
          <div class="mainContainer">
            <img style="position:relative;display:block;margin:auto;z-index: 3" src="../assets/global/logo.png">
            <div style="position:relative; top:-63px;left: 0; width:925px; height:30px; background: url(../assets/global/menuBg.png) no-repeat; z-index: 2">
              <div style="float:right; width: 115px;">&nbsp;</div>
              <div style="float:right; width: 240px; margin-top: 5px; margin-right: 28px; color: grey; cursor: pointer;" class="noLink">
                <a style="float:right; width: 80px;">אודות</a>
                <a style="float:right; width: 80px;">תקנון</a>
                <a style="float:right; width: 80px;">יצירת קשר</a>
              </div>
              <div style="float:right; width: 245px; margin-top: 5px; margin-right: 220px; color: grey;" class="noLink">
                



              <div style="float:right; width: 245px; color: grey;" class="noLink">
                <% if user_signed_in? -%>
                  <div style="float:right; width: 180px;">שלום <%= current_user.first_name %>>, אין לך הודעות חדשות</div>
                  <%= link_to "התנתק", destroy_user_session_path, {:method => :delete, :class => "noLink", :style => "float:right; width: 40; margin-right: 25px; cursor: pointer;"} %>
                <% else %>
                  <div style="float:right; width: 180px;">שלום אורח, <%= link_to "הרשם", new_user_registration_path %> או </div>
                  <%= link_to "הכנס", new_user_session_path, {:class => "noLink", :style => "float:right; width: 40; margin-right: 25px; cursor: pointer;"} %>
                <% end %>
              </div>






              </div>

            </div>
            <div style="position:relative; top:-63px;left: 0; width:925px; height:380px; background: url(../assets/global/containerBg.png); z-index: 2"></div>
            <div style="position:relative; top:-63px;left: 0; width:925px; height:30px; background: url(../assets/global/containerBottom.png) no-repeat; z-index: 2"></div>
            <%= yield %>
          </div>
    </div>
    <hr>
    <footer>
        <p>&copy; גברת צימר 2012</p>
    </footer>
    
    <!-- javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>
  </body>
</html>
