<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>גברת צימר</title>
<%= csrf_meta_tags %>
<%= stylesheet_link_tag "admin", :media => "all" %>
</head>

<body onload="displayTab('main', 'content-a');">
<div id="container">
  <div id="topMenu">
      <ul>
        <li><%= link_to "גברת צימר", root_url %></li>
        <% if current_user -%>
          <li><%= link_to "החשבון שלי", "user/cp" %></li>
        <% end %>
        <li><%= link_to "צור קשר", "/contact_us" %></li>
        <li><%= link_to "אודותינו", "/about_us" %></li>
      </ul>
    </div>
    <div id="mainMenu">
      <div id="leftMenuMain"><%= link_to "התנתק", destroy_user_session_path, :method => :delete, :class => "logout" %><div class="register">רשום כ: <%= current_user ? current_user.email : current_site_owner.email %></div></div>
      <div id="centerMenuMain" onclick="window.location = '<%= root_url %>'"></div>
      <div id="rightMenuMain">
        <ul>
            <li><a onclick="displayGlobalTab('global', 'main-d')">אתר</a></li>
            <li><a onclick="displayGlobalTab('global', 'main-c')">ערוך תוכן</a></li>
            <li><a onclick="displayGlobalTab('global', 'main-b')">בקשות</a></li>
            <li><a onclick="displayGlobalTab('global', 'main-a')">ראשי</a></li>
          </ul>
        </div>
    </div>
    <%= yield %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "cp_template/general" %>
    <%= javascript_include_tag "cp_template/property" %>
    <%= javascript_include_tag "cp_template/tabs" %>
    <%= javascript_include_tag "cp_template/messages" %>
  
</body>
</html>
